// Font
$mainFont                : 'Open Sans', sans-serif;
$titleFont			 	 : 'PT Serif', serif;

$mainFontSize            : 16px;

// Window Width
$extraLargeDesktop       : 1440px;
$largeDesktop            : 1366px;
$desktop                 : 1200px;
$smallDesktop            : 992px;
$tablet                  : 768px;
$phone                   : 576px;

// Colors
$grey					 : #d8d8d8;
$grey-l 				 : #efefef;